* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #eeeeee;
    color: black;
}


.header {
    text-align: center;
    font-size: 35px;
    padding: 20px 0px;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    border: 10px solid black;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.contenedor > div {
    display: block;
    padding: 20px;
    color: white;
    background: #2f89fc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}