* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #eeeeee;
    color: black;
}


.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: " header header header "
                         "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "footer footer footer"  ;

}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;

}

.contenedor .header {
    background: #030c22;
    color: #ffffff;
    /* grid-column-start: 1;
    grid-column-end: -1; */

    grid-area: header;
}

.contenedor .contenido {
    /* grid-column: span 2; */
    grid-area: contenido;
}

.contenedor .sidebar {
    /* grid-column: 3/4; */
    background: #faa43d;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100px;

    /* grid-row: 2/4; */

    grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background: #55a8fd;
    color: #ffffff;
    height: 100px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenedor .widget-1 {
    grid-area: widget-1;
}

.contenedor .widget-2 {
    grid-area: widget-2;
}


.contenedor .footer {
    background: #12203e;
    color: #ffffff;

    /* grid-column: span 3; */

    grid-area: footer;
}


@media screen and (max-width: 768px) {
    
    .contenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: " header header header  header"
                        "sidebar sidebar sidebar sidebar"
                         "contenido contenido contenido contenido"
                         "widget-1  widget-1  widget-2 widget-2"
                         "footer footer footer footer"  ;
    }


   /*  .contenedor .contenido {
        grid-column: 1/ -1;
    }

    .contenedor .sidebar {
        grid-column: 1/-1;
    }

    .contenedor .widget-1{
        grid-column: span 2;
    } */



}